@import url('./variables.css');

body {
    font-family: var(--ff-pr)!important;
    background-color: var(--clr-pr1);
    padding: 3rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}


.embed-responsive {
    margin-inline: auto;
    max-width: 600px;
}

.card {
    background-color: var(--clr-pr2);
    color: var(--clr-whit);
}

.accordion {
    display: grid;
    gap: 0.5rem;
}

button {
    color: var(--clr-white) !important;
    font-weight: var(--fw-700)!important;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header h1 {
    color: var(--clr-white);
    font-weight: var(--fw-600);
    font-size: clamp(1.5rem, 5vw, 2rem);
}

header i {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: var(--clr-pr3);
    padding-top: 0.3rem;
}

main {
    display: grid;
    gap: 2rem;
}




