@import url('./variables.css');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: var(--ff-pr)!important;
    background-color: var(--clr-pr1);
    padding: 4rem 1rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header h1 {
    color: var(--clr-white);
    font-weight: var(--fw-600);
    font-size: clamp(1.5rem, 5vw, 2rem);
}

header i {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: var(--clr-pr3);
    padding-top: 0.3rem;
}

main {
    display: grid;
    max-width: 700px;
    margin-inline: auto;
    gap: 4rem;
}

.accordion {
    display: grid;
    gap: 0.5rem;
    
}

.card {
    background-color: var(--clr-pr2);
    color: var(--clr-whit);
}

.card .embed-responsive {
    margin-inline: auto;
    max-width: 600px;
}

.card button {
    color: var(--clr-white) !important;
    font-weight: var(--fw-600)!important;
    font-size: clamp(1rem, 3vw, 1.3rem);
}

button:hover,
button:focus {
    background-color: var(--clr-pr3);
    border-radius: none !important;
    box-shadow: none!important;

} 

